body {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-body);
  line-height: var(--line-height-main);
  color: var(--color-main);
  background-color: var(--background-main);
}

.title-section {
  font-weight: var(--font-weight-secondary);
  font-size: var(--font-size-secondary);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-main);
}

@media screen and (min-width: 1440px) {
  .title-section {
    font-size: var(--font-size-rare);
  }
}

.button {
  font-family: inherit;
  font-weight: var(--font-weight-rare);
  font-size: var(--font-size-body);
  line-height: var(--line-height-main);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-btn);
  transition: opacity var(--time) var(--cubic-bezier);
}
